<ion-pane>
    <ion-header-bar class="custom-bar-bg">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
        </div>
        <h1 class="title">Feedback</h1>
        <div class="buttons">
            <button class="button button-icon ion-checkmark-circled"
                    ng-click="showConfirm()">
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card custom-card">
            <div class="item">
                <span>Message</span>
            </div>
            <div class="item">
                <label class="item-input">
                    <textarea placeholder="Write here.." rows="5"></textarea>
                </label>
            </div>
        </div>
        <div class="card custom-card">
            <div class="item">
                <span>Rate the App</span>
            </div>
            <div class="item">
                <div class="custom-rating">
                    <a class="padding" ng-repeat="r in ratingArr" style="text-decoration:none;">
                        <i class="icon {{r.icon}}" ng-click="setRating(r.value)"></i>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>