<ion-view view-title="Blood Care">
    <ion-content>
        <ion-slide-box pager-click="navSlide(index)">
            <ion-slide>
                <div class="color-purple"><h1>Purple</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="color-orange"><h1>Orange</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="color-purple"><h1>Purple</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="color-orange"><h1>Orange</h1></div>
            </ion-slide>
       </ion-slide-box>
    </ion-content>
</ion-view>