<ion-view view-title="Manager">
    <ion-content class="padding">
       <br>
       <div class="card">
            <a ui-sref="reminder" nav-direction="forward">
                <div class="item item-icon-left">
                    <i class="icon ion-android-calendar"></i>
                    Reminder
                </div>
            </a>
        </div>
        <div class="card">
            <a ui-sref="monitor" nav-direction="forward">
                <div class="item item-icon-left">
                    <i class="icon ion-ios-list"></i>
                    Monitor
                </div>
            </a>
        </div>
        <div class="card">
            <a ui-sref="dietPlanner" nav-direction="forward">
                <div class="item item-icon-left">
                    <i class="icon ion-android-restaurant"></i>
                    Diet Planner
                </div>
            </a>
        </div> 
    </ion-content>
</ion-view>