<ion-pane>
    
    <ion-header-bar class="custom-bar-bg">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
        </div>
        <h1 class="title">Profile</h1>
        <div class="buttons">
            <button class="button button-icon ion-checkmark-circled" 
                    ng-click="showConfirm()">
            </button>
        </div>
    </ion-header-bar>
    
    <ion-content class="padding">
        
        <div class="card custom-card">
            <div class="item">
                <span>Name</span>
            </div>
            <div class="item custom-input">
                <label class="item-input">
                   <input type="text" placeholder="eg. Alpana Chaphalkar"> 
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Email</span>
            </div>
            <div class="item custom-input">
                <label class="item-input">
                   <input type="email" placeholder="eg. alpana@example.com"> 
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Date of Birth</span>
            </div>
            <div class="item custom-input">
                <label class="item-input">
                   <input ui-date="dateOptions" name="DateOfBirth" placeholder="dd-mm-yyyy">
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Gender</span>
            </div>
            <div class="item button-bar">
                <a grouped-radio="'male'" ng-model="profileData.gender" class="option">Male</a>
                <a grouped-radio="'female'" ng-model="profileData.gender" class="option">Female</a>
                <a grouped-radio="'other'" ng-model="profileData.gender" class="option">Other</a>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Diabetes Type</span>
            </div>
            <div class="item button-bar">
                <a grouped-radio="'type1'" ng-model="profileData.diabetes" class="option">Type 1</a>
                <a grouped-radio="'type2'" ng-model="profileData.diabetes" class="option">Type 2</a>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Weight</span>
            </div>
            <div class="item button-bar custom-weight">
                <input type="number" ng-model="profileData.weight" placeholder="60"> 
                <a grouped-radio="'kgs'" ng-model="profileData.weightUnit" class="unit">Kgs</a>
                <a grouped-radio="'pounds'" ng-model="profileData.weightUnit" class="unit">Pounds</a>
            </div>
        </div>
        
    </ion-content>
</ion-pane>